<div class="post">
  <!-- Title -->
  <h2 class="post-title">
    <% if (index){ %>
      <a href="<%- config.root %><%- item.path %>">
        <%- item.title %>
      </a>
    <% } else { %>
      <%- item.title %>
    <% } %>
  </h2>
  <% if (!index){ %>
    <p class="post-date">
      <%= item.date.format(config.date_format) %>
    </p>
  <% } %>
  <% if (item.excerpt && index){ %>
    <p class="post-excerpt"><%- item.excerpt %></p>
  <% } else { %>
    <div class="colored-back">
      <%- item.content %>
    </div>
  <% } %>
</div>
