<div class="post">
  <!-- Title -->
  <h2 class="post-title">
    <% if (index){ %>
      <a href="<%- config.root %><%- item.path %>">
        <%- item.title %>&nbsp;
      </a>
    <% } else { %>
      <%- item.title %><% if (!item.completed){ %> - <span class="italic">In Progress</span><% } %>
    <% } %>
  </h2>
  <% if (!index){ %>
    <p class="post-date">
      <%= item.date.format(config.date_format) %>
    </p>
  <% } %>
  <% if (item.excerpt && index){ %>
    <p><%- item.excerpt %></p>
  <% } else { %>
    <%- item.content %>
  <% } %>
</div>
