<div class="post">
  <!-- Title -->
  <h2 class="post-title">
    <a href="<%- config.root %><%- item.path %>">
      <%- item.title %>
    </a>
  </h2>
  <p class="post-date">
    <%= item.date.format(config.date_format) %>
  </p>
  <%- item.content %>
</div>
