<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <% var title = []; if (page.title) title.push(page.title);
    title.push(config.title); %> <% if (config.author){ %>
    <meta name="author" content="<%= config.author %>" />
    <% } %> <% if (page.description){ %>
    <meta name="description" content="<%= page.description %>" />
    <% } else if (config.description){ %>
    <meta name="description" content="<%= config.description %>" />
    <% } else if (page.excerpt){ %>
    <meta
      name="description"
      content="<%= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '') %>"
    />
    <% } else if (page.content){ %>
    <meta
      name="description"
      content="<%= strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>"
    />
    <% } %> <% if (page.title){ %>
    <meta property="og:title" content="<%= page.title %>" />
    <% } %>
    <meta property="og:site_name" content="<%= config.title %>" />

    <% if(page.cover) { %>
    <meta property="og:image" content="<%= page.cover %>" />
    <% } else { %>
    <meta property="og:image" content="<%= config.cover %>" />
    <% } %> <%- favicon_tag('/img/favicon.ico') %> <% if (config.feed) { %> <%-
    feed_tag() %> <% } else if (theme.rss) { %> <%- feed_tag(theme.rss) %> <% }
    %>
    <title><%= title.join(' | ') %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <%- fancy() %>
    <%- css('css/blog.css') %>
  </head>
  <body>
    <div class="container">
      <%- partial('_partial/header') %> 
      <%- body %> 
      <%- partial('_partial/footer') %>
    </div>
  </body>
</html>
